<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/asset/cps.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Checklist Page</title>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">TelaAudit - Checklist de Usabilidade</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Checklist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user_page') }}">Meu perfil</a>
          </li>
          {% if 'user_id' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

 <!-- Content -->
 <header class="masthead">
  <br>
  <div class="container mt-5">
    {% for module, questions in template.items() %}
    <div class="accordion" id="accordion{{ loop.index }}">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ loop.index }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
            {{ module }}
          </button>
        </h2>
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordion{{ loop.index }}">
          <div class="accordion-body">
            {% for question in questions %}
            <div class="mb-3">
              <label class="form-label"><strong>{{ question.keys() | list | first }}</strong></label>
              <p>
                <input type="radio" name="answer_{{ loop.index }}" value="True" {% if question.values() | list | first == true %}checked{% endif %}> Sim
                <span style="margin-right: 10px;"></span>
                <input type="radio" name="answer_{{ loop.index }}" value="False" {% if question.values() | list | first == false %}checked{% endif %}> Não
                <span style="margin-right: 10px;"></span>
                <input type="radio" name="answer_{{ loop.index }}" value="None" {% if question.values() | list | first == none %}checked{% endif %}> Não se aplica
              </p>
              <p><em>Notes:</em></p>
              <textarea class="form-control" name="notes">{{ question['notes'] }}</textarea>
              <p><em>Glossary:</em> {{ question['glossary'] }}</p>
            </div>
            <br> <!-- Quebra de linha extra -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="buttons mt-3">
    <button type="button" class="btn btn-success">Salvar</button>
  </div>
</header>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>