<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" href="../static/asset/cps.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>TelaAudit - Fatec Arthur de Azevedo</title>
  <script type="text/javascript">
    function redirectToHome() {
        window.location.href = "{{ url_for('home') }}";
    }
</script>
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">TelaAudit - Checklist de Usabilidade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user_page') }}">Meu perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contato</a>
        </li>
        {% if 'user_id' in session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">Checklist de Usabilidade</h1>
          <p class="lead">Esta ferramenta foi desenvolvida por alunos do curso de Analise e Desenvolvimento de Sistemas da <a href="https://fatecmm.cps.sp.gov.br/" target="_blank">Fatec Mogi Mirim Arthur de Azevedo.</a><br>
            Este projeto tem como principal objetivo a criação de uma nova ferramenta que possa apoiar 
            todos que possuem interesse em avaliar telas a fim de melhorá-las e deixá-las dentro de padrões de qualidade e ergonomia, baseado na norma ISO 9241-11 (2021).<br>
            Você poderá criar sua conta e ter acesso ao checklist de usabilidade, podendo avaliar suas telas e gerar relatórios. Suas avaliações ficam salvas em sua conta, podendo ser acessadas a qualquer momento.

          </p><br>
          <div class="bottom-homepage">
            <a href="{{url_for('login')}}">Faça o Login</a>
          </div>
          <div class="bottom-homepage">
            <a href="{{url_for('register')}}">Registrar</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>

</body>
</html>