<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/asset/cps.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TelaAudit - Fatec Arthur de Azevedo</title>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('home')}}">TelaAudit - Checklist de Usabilidade</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Checklist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meu perfil</a>
          </li>
          {% if 'user_id' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">Checklist de Usabilidade</h1>
          <p class="lead">Esta ferramenta foi desenvolvida por alunos da matéria de Interação Homem Computador(IHC), com
            objetivo de trazer uma atualização
            do antigo validador de usabilidade Ergolist, desenvolvido pela UFSC.
            Esta atualização traz consigo perguntas atualizadas de acordo com a ABNT NBR ISO 9241-11:2021, e também uma
            opção de cadastro,
            onde você poderá se cadastrar, mantendo suas validações salvas no seu dashboard.
            Você também tem a opção de não precisar se cadastrar, porém suas validações não ficaram salvas, e perderá as
            respostas assim que recarregar a página.
            Clique abaixo para fazer o login, ou começar uma nova validação como usuário anonimo.</p><br>
          <div class="bottom-homepage">
            <a href="{{url_for('login')}}">Faça o Login</a>
          </div>
          <div class="bottom-homepage">
            <a href="">Novo checklist</a>
          </div>
          <div class="bottom-homepage">
            <a href="{{url_for('register')}}">Registrar</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <!-- Texto centralizado -->
        <div class="col-md-12 text-center text-white">
          <p class="m-0">
            Copyright &copy; <a href="https://fatecmm.cps.sp.gov.br/" class="text-white">Fatec Arthur de Azevedo</a> 2024
          </p>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>

</body>
</html>