<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" href="../static/asset/cps.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>TelaAudit - Fatec Arthur de Azevedo</title>
  <script type="text/javascript">
    function redirectToHome() {
        window.location.href = "{{ url_for('home') }}";
    }
</script>
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">TelaAudit - Checklist de Usabilidade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user_page') }}">Meu perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contato</a>
        </li>
        {% if 'user_id' in session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


    <!-- Content -->
    <div class="back">
        <div class="div-center">
            <div class="content">
                <h3>Validar E-mail</h3>
                <hr />
                <form method="POST" action="{{ url_for('verify_email') }}">
                    <div class="form-group">
                        <label for="email">Endereço de Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="email@email.com"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email_code">Código</label>
                        <input type="text" class="form-control" id="email_code" name="email_code" placeholder="00000000"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-secondary" onclick="redirectToHome()">Cancelar</button>
                    <hr />
                    <p>O código não chegou ? <a href="{{url_for('resend_email_code')}}">Reenvie o código</a></p>
                </form>
            </div>
        </div>
    </div>

</html>